.header{
  background-color: white;
  width: 100vw;
  height: 70px;
  z-index: 2;
  position: fixed;
  border-bottom: 10px solid rgba(0,0,0,0.3);
  border-width:thick ;
  top: 0;
  left: 0;
  &_contents {
    background-color: white;
    width: 1080px;
    height: 70px;
    display: flex;
    margin: 0 auto 0 auto;
    line-height: 70px;
    position: relative;
    border-bottom: 10px solid rgba(0,0,0,0.3);
    border-width:thick ;

    &_btn_app_name {
      display: block;
      font-size: 50px;
      color:black;
      font-family: 'Sacramento', cursive;
      font-weight: bold;
      position: absolute;
      left: 500px;
      padding-top: 10px;
      text-decoration: none;
   }
    &_btn_app_name a {
      text-decoration: none;
      color:black;
    }
    &_btn_login_user {
      padding-left: 5px;
      color: black;
      float: right;
      position: absolute;
      right:100px;
      text-decoration: none;
    }
    &_btn_new_user {
      padding-left: 20px;
      position: absolute;
      right: 1px;
      color: black;
      text-decoration: none;
    }
    &_btn_now_user {
      margin-left: 30px;
      position: absolute;
      right: 30px;
      color: black;
      text-decoration: none;
    }
    .header_contents_btn_seach_form {
     width: 300px;
     height: 30px;
     background-color: white;
     position: fixed;
     top: 20px;
     position: absolute;
     .header_contents_btn_seach_form form {
       height: 40px;
     }
     .text {
       width: 300px;
       position: relative;
       bottom: 20px;
       height: 40px;
     }
    }
    
  }
} 