.my_main {
width: 100%;
height: auto;
min-height: 100%;
&_title {
  height: 360px;
  padding-top: 70px;
  background-color: burlywood;
  position: relative;
  .user_header {
    height: 290px;
    width: 990px;
    margin: 0 auto 0 auto;
    background-color: fuchsia;
    position: relative;
    .user_sub {
      height: 250px;
      width: 150px;
      background-color: green;
      margin-left: 20px;
     position: absolute;
     top: 20px;
     .user_imag {
       height: 150px;
       width: 150px;
       background-color: khaki;
       padding-top: 10px;
     }
     .user_edit_btn {
       height: 32px;
       width: 134px;
       background-color: lightcoral;
       margin: 18px auto 0 auto;
       text-decoration: none;
     }
    }
    .user_main {
      width: 750px;
      height: 200px;
      background-color: lightskyblue;
      position: absolute;
      left:200px;
      top: 50px;
      .user_name {
        width: 750px;
        height: 90px;
        background-color: lime;
        font-size: 40px;
        font-weight: bold;
      }
      .user_profle{
        width: 750px;
        height: 100px;
        background-color: mediumorchid;
      }
    }
  }
}
  .main_content {
    height: 100%;
    background-color: navajowhite;
    .main_content_box {
      width: 990px;
      height: auto;
      min-height: 100%;
      margin: 0 auto 0 auto;
      background-color: olive;
      .main_content_box_post {
        width: 330px;
        height: 55px;
        margin: 20px auto 0 auto;
        background-color: paleturquoise;
        font-size: 20px;
        line-height: 55px;
        text-align:center;
        text-decoration: none;
      }
      .main_content_box_list{
        background-color: pink;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        .user_contents{
          margin-top: 40px;
          margin-left: 70px;
          margin-bottom: 50px;
          list-style: none;
          box-shadow:3px 3px;
          border:1px solid gray;
      }
      .main_contents_user_info {
        height: 40px;
        width: 230px;
        background-color: yellow;
      }
    }
    }
  }
}
