.user_contents
  .main_contents_user_image
    = link_to post_path(post.id) do
      = image_tag post.image 
  .main_contents_user_info
    .main_contents_user_name
      = link_to post.user.name, user_path(post.user.id)
    .main_contents_folow
      = render "relationships/follow_button", user: @user